body {
  font-family: Arial, sans-serif;
  background-color: lightyellow;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #fde2f3;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: deeppink;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  background: #fff;
  padding: 8px 15px;
  border-radius: 20px;
}

.about-section {
  background-color: #fde2f3;
  padding: 15px;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
}

.container {
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 1200px;
}

.card-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

footer {
  background-color: #fde2f3;
  text-align: center;
  padding: 10px;
}
